<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container  col-lg-offset-4">
	<div class="row">
		<h2 style="margin-left: 120px"></h2>
	</div>
    
    <div class="row">
    
    <div class="col-md-6">       <!-- Standard button -->
<button  routerLink="/home/tasks" type="button" class="btn btn-default ribbon"><b>استعــــلام عـن جـدول الـنـبـطـشـيـات</b></button>

<!-- Indicates a successful or positive action -->
<button routerLink="/home/users" type="button" class="btn btn-success ribbon"><b>استعــــلام عـن المـسـتـــخدمـيـن</b></button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button (click)="showCRUDS_Buttons()" type="button" class="btn btn-primary ribbon"> <b> الاضــــــــافــــــة والـــــتــــعــــديـــل فـــي الـــبـــيـــانـــات الاســـاســـيــة </b></button>

<div *ngIf="CRUD_Flag" class="row">
    <div class="col-md-2"></div>
   <div class="btn-group btn-group-sm col-md-8" >
    <button type="button" class="btn-info ribbon"><b> High </b></button>
    <button type="button" class=" btn-info ribbon"><b>Middle</b></button>
    <button type="button" class=" btn-info ribbon"><b>Right</b></button>
    <button type="button" class=" btn-info ribbon"><b>Right</b></button>
   </div>
    <div class="col-md-2"></div>
 </div>
<!-- Indicates caution should be taken with this action -->
<button routerLink="/batna_alb_report"   type="button" class="btn btn-warning ribbon"><b>الــتــــــقــــــريــــــر الـــيـــومـــــــــي</b></button>



