

<div *ngIf="formFlag" class="container  " >
    <div class="row">
        <div class="col-md-6 col col-md-offset-3">
          
  <form>
    <div class="form-group">
      <div style="text-align: center" *ngIf="alertFlag" class="alert alert-danger"role="alert">
        لا يوجد بيانات مسجلة لهذا التاريخ
      </div>

      <input  style="width: 200px ;float: left;"  type="number" name="month" [(ngModel)]="month" class="form-control" id="Month" placeholder="ادخل الشهر">
      <input style="width: 200px ;float: left;"  type="number" name="year" [(ngModel)]="year" class="form-control" id="Year" placeholder="ادخل السنة">
    </div>
  

  </form>
</div>
 </div>
<div class="row">
    <div *ngIf="formFlag"  class="col-md-2 col-md-offset-4" style="padding: 10px" >
        <button style="width: 200px; " (click)="updateShiftList()" type="button" class="btn btn-md btn-primary"><b> جدول شهر {{this.month}} سنة {{this.year}} </b></button>
      </div>

</div>
</div>




<div *ngIf="searhFlag"  style="margin-right: 50px; width: 350px;text-align: center"class="container  col-lg-offset-5">
  <input (input)="Filter()" style="float: left;  width: 250px;" type="text" name="" [(ngModel)]="searchField" class="form-control" id="search" placeholder="">
  <i  (click)="removeSearchField()" style="float: left;font-size: 30px; padding-left: 5px "class="fa fa-times"></i>
</div>


  <div  *ngIf="this.shiftFormFrag" class="container  col-lg-offset-4">
    <app-shift-form (updateShiftParent)="updateShiftList()" (closeComponent)="closeFormShiftComponent()" [month]="month"[year]="year" [user_ID]="updateFieldID" [cell_Number]="updateFieldnum" [user]="user"></app-shift-form>

  </div>
  <div  *ngIf="this.shiftDetails" class="container  col-lg-offset-4">
    <app-shift-details (updateShiftParent)="updateShiftList()" (closeComponent)="closeDetailsShiftComponent()" [month]="month" [year]="year" [shift_id]="updateFieldShiftID" [user_ID]="updateFieldID" [cell_Number]="updateFieldnum" [user]="user" [dutyTypeName]="dutyTypeTemp"></app-shift-details>
  </div>

  <div  *ngIf="this.firstShift" class="container  col-lg-offset-4">
      <app-first-shift (updateShiftParent)="updateShiftList()" (closeComponent)="closeFirstShiftComponent()" [month]="month" [year]="year"></app-first-shift>
    </div>
  
  <div *ngIf="spinnerTable" class="container  col-lg-offset-5"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
  

  <div class="container  col-lg-offset-11">
  </div>


  
<table class="table">
  <thead>
    <tr>
      <th scope="col">16</th>
      <th scope="col">15</th>
      <th scope="col">14</th>
      <th scope="col">13</th>
      <th scope="col">12</th>
      <th scope="col">11</th>
      <th scope="col">10</th>
      <th scope="col">9</th>
      <th scope="col">8</th>
      <th scope="col">7</th>
      <th scope="col">6</th>
      <th scope="col">5</th>
      <th scope="col">4</th>
      <th scope="col">3</th>
      <th scope="col">2</th>
      <th scope="col">1</th>
      <th scope="col">
        <a (click)="plusRecord()" class="fa fa-plus" style="float:left; font-size:23px;color:black"></a>
        <a (click)="Search()"style="float:left;margin-left: 10px;font-size:20px;color:black" class="fa fa-search"></a>
        <div style="float: right;"><p style="font-weight: bold">  ضـــــــابـــــــــــــــــــط   </p></div>
       </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let data of  shifts">

      <td><button  [ngClass]="{'btn-light' : data[15].Date=='0001-01-01T00:00:00','btn-success' : data[15].Date!='0001-01-01T00:00:00'}" style="width: 80px" class="btn" id={{data[15].User_.ID}} name="16" value="{{data[15].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[15].Day}}/{{data[15].Month}}/{{data[15].Year}}</button></td>
      <td><button  [ngClass]="{'btn-light' : data[14].Date=='0001-01-01T00:00:00','btn-success' : data[14].Date!='0001-01-01T00:00:00'}" style="width: 80px" class="btn" id={{data[14].User_.ID}} name="15" value="{{data[14].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[14].Day}}/{{data[14].Month}}/{{data[14].Year}}</button></td>
      <td><button  [ngClass]="{'btn-light' : data[13].Date=='0001-01-01T00:00:00','btn-success' : data[13].Date!='0001-01-01T00:00:00'}" style="width: 80px" class="btn" id={{data[13].User_.ID}} name="14" value="{{data[13].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[13].Day}}/{{data[13].Month}}/{{data[13].Year}}</button></td>
      <td><button  [ngClass]="{'btn-light' : data[12].Date=='0001-01-01T00:00:00','btn-success' : data[12].Date!='0001-01-01T00:00:00'}" style="width: 80px" class="btn" id={{data[12].User_.ID}} name="13" value="{{data[12].ID}}" (click)="showShiftForm($event)" type="button" >{{data[12].Day}}/{{data[12].Month}}/{{data[12].Year}}</button></td>
      <td><button  [ngClass]="{'btn-light' : data[11].Date=='0001-01-01T00:00:00','btn-success' : data[11].Date!='0001-01-01T00:00:00'}" style="width: 80px" class="btn" id={{data[11].User_.ID}} name="12" value="{{data[11].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[11].Day}}/{{data[11].Month}}/{{data[11].Year}}</button></td>
      <td><button  [ngClass]="{'btn-light' : data[10].Date=='0001-01-01T00:00:00','btn-success' : data[10].Date!='0001-01-01T00:00:00'}" style="width: 80px" class="btn" id={{data[10].User_.ID}} name="11" value="{{data[10].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[10].Day}}/{{data[10].Month}}/{{data[10].Year}}</button></td>
      <td><button  [ngClass]="{'btn-light' : data[9].Date=='0001-01-01T00:00:00','btn-success' : data[9].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[9].User_.ID}}  name="10" value="{{data[9].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[9].Day}}/{{data[9].Month}}/{{data[9].Year}} </button></td>
      <td><button  [ngClass]="{'btn-light' : data[8].Date=='0001-01-01T00:00:00','btn-success' : data[8].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[8].User_.ID}}  name="9"  value="{{data[8].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[8].Day}}/{{data[8].Month}}/{{data[8].Year}} </button></td>
      <td><button  [ngClass]="{'btn-light' : data[7].Date=='0001-01-01T00:00:00','btn-success' : data[7].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[7].User_.ID}}  name="8"  value="{{data[7].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[7].Day}}/{{data[7].Month}}/{{data[7].Year}} </button></td>
      <td><button  [ngClass]="{'btn-light' : data[6].Date=='0001-01-01T00:00:00','btn-success' : data[6].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[6].User_.ID}}  name="7"  value="{{data[6].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[6].Day}}/{{data[6].Month}}/{{data[6].Year}} </button></td>
      <td><button  [ngClass]="{'btn-light' : data[5].Date=='0001-01-01T00:00:00','btn-success' : data[5].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[5].User_.ID}}  name="6"  value="{{data[5].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[5].Day}}/{{data[5].Month}}/{{data[5].Year}} </button></td>
      <td><button  [ngClass]="{'btn-light' : data[4].Date=='0001-01-01T00:00:00','btn-success' : data[4].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[4].User_.ID}}  name="5"  value="{{data[4].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[4].Day}}/{{data[4].Month}}/{{data[4].Year}} </button></td>
      <td><button  [ngClass]="{'btn-light' : data[3].Date=='0001-01-01T00:00:00','btn-success' : data[3].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[3].User_.ID}}  name="4"  value="{{data[3].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[3].Day}}/{{data[3].Month}}/{{data[3].Year}} </button></td>
      <td><button  [ngClass]="{'btn-light' : data[2].Date=='0001-01-01T00:00:00','btn-success' : data[2].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[2].User_.ID}}  name="3"  value="{{data[2].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[2].Day}}/{{data[2].Month}}/{{data[2].Year}} </button></td>
      <td><button  [ngClass]="{'btn-light' : data[1].Date=='0001-01-01T00:00:00','btn-success' : data[1].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[1].User_.ID}}  name="2"  value="{{data[1].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[1].Day}}/{{data[1].Month}}/{{data[1].Year}} </button></td>
      <td><button  [ngClass]="{'btn-light' : data[0].Date=='0001-01-01T00:00:00','btn-success' : data[0].Date!='0001-01-01T00:00:00'}"  style="width: 80px" class="btn" id={{data[0].User_.ID}}  name="1"  value="{{data[0].ID}}"  (click)="showShiftForm($event)" type="button" >{{data[0].Day}}/{{data[0].Month}}/{{data[0].Year}} </button></td>
      <th scope="row">{{data[0].User_.MyRank.Rank_Name}}  /  {{data[0].User_.name}} </th>
  </tbody>
</table>

<!--[ngClass]="{' btn-danger' : data[].Date==0001-01-01T00:00:00}"-->