
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
      <a  (click)="closeThisComponent()" style="margin-top: 16px; font-size: 30px;" class="fa fa-times"></a>
    <div class="col-md-4">
		<div class="form_main">
        <div style="text-align: center" *ngIf="alertFlag" class="alert alert-danger" role="alert">
           {{alertMessage}}
          </div>
                <h4 class="heading"><strong>أضــــافة </strong> نـــوبـــتـــجـــيـــة <span></span></h4>
                <div class="form">
                <form  id="contactFrm" name="contactFrm">
                    <input [(ngModel)]="date" style="text-align:right;" type="date" required=""  name="name" class="txt">
                    <input readonly [(ngModel)]="user.name" style="text-align:center;" type="text" required="" placeholder="اسم الظابط  " value="" name="name" class="txt">
                    <input readonly [(ngModel)]="cell_Number" style="text-align:center;" type="text" required="" placeholder="رقم النبطشية   " value="" name="cell_Number" class="txt">


                    <select  [(ngModel)]="selectedDutyName" (click)="getSelectedOption($event)" style="width: 350px" id="singleSelect" >
                      <option *ngFor="let data of Dutys" value="{{data.ID}}">{{data.DutyType_Name}}</option>
                    </select>           
                       
                </form>
                <div class="container  "style="margin-left:180px;padding:10px ">
                  <button *ngIf="addShiftButtonFlag" (click)="addShift()" type="button" class="btn btn-primary btn-md"><b>إضافــــــــــــة</b></button>
                </div>
            </div>
            </div>
          </div>
	</div>
</div>