<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
      <a  (click)="closeThisComponent()" style="margin-top: 16px; font-size: 30px;" class="fa fa-times"></a>
    <div class="col-md-4">
		<div class="form_main">
      
        <div *ngIf="alertFlag" style="text-align: center"  class="alert alert-danger" role="alert">
          {{alertMessage}}
            </div>
                <h4 class="heading"><strong> أضــــافة اول </strong> نبــــــــطشية <span></span></h4>
                <div class="form">
                    <app-searsh-filter (BackWithData)="setUser($event)" *ngIf="searchNameFlag"></app-searsh-filter>

                <form  id="contactFrm" name="contactFrm">
                    <input [(ngModel)]="date" style="text-align:right;" type="date" required=""  name="name" class="txt">
                    <input readonly [(ngModel)]="this.user.ID" (change)="getUser()" style="text-align:center;" type="text" required="" placeholder="كود الظابط  " value="" name="usercode" class="txt">

                    <input readonly [(ngModel)]="this.user.name" style="text-align:center;" type="text" required="" placeholder="اسم الظابط  " value="" name="name" class="txt">
                    <input readonly style="text-align:center;" type="text" required="" placeholder="رقم النبطشية   " value="1" name="cell_Number" class="txt">


                    <select [(ngModel)]="selectedDutyName" (click)="getSelectedOption($event)" style="width: 350px" id="singleSelect" >
                      <option *ngFor="let data of Dutys" value="{{data.dutyType.ID}}">{{data.dutyType.DutyType_Name}}</option>
                      </select>           
                       
                </form>
                <div class="container  "style="width:500px">
                  <button *ngIf="searchButtonFlag" (click)="getOfficerCode()" type="button" class="btn btn-primary btn-md" style="margin-top:10px;float:left"><b>حصول على بيانات ضابط</b></button>
                  <button *ngIf="submitFlag" (click)="addShift()" type="button" class="btn btn-primary btn-md" style="margin-top:10px"><b>إضــــافــــــــــــة</b></button>
                </div>
            </div>
            </div>
          </div>
	</div>
</div>