

<div class="container">
	<div class="row">
      <a  (click)="closeThisComponent()" style="margin-top: 16px; font-size: 30px;" class="fa fa-times"></a>
    <div class="col-md-4">
		<div class="form_main">
      
        <div *ngIf="alertFlag" style="text-align: center"  class="alert alert-danger" role="alert">
          {{alertMessage}}
            </div>
                <h4 class="heading"><strong> أضــــافة اول </strong> نـــوبـــتـــجـــيـــة <span></span></h4>
                <div class="form">
                    <app-searsh-filter (BackWithData)="setUser($event)" *ngIf="searchNameFlag"></app-searsh-filter>

                <form  id="contactFrm" name="contactFrm">
                  <input  [(ngModel)]="day"  style="text-align:center; width: 350px ;padding: 10px" type="number" required="" placeholder="ادخل اليوم   " value="" name="day" class="txt">
                  <input readonly [(ngModel)]="this.user.ID"  style="text-align:center;" type="text" required="" placeholder="كود الظابط  " value="" name="usercode" class="txt">

                    <input readonly [(ngModel)]="this.user.name" style="text-align:center;" type="text" required="" placeholder="اسم الظابط  " value="" name="name" class="txt">
                    <input readonly style="text-align:center;" type="text" required="" placeholder="رقم النبطشية   " value="1" name="cell_Number" class="txt">


                    <select [(ngModel)]="selectedDutyName" (click)="getSelectedOption($event)" style="width: 350px;padding: 10px" id="singleSelect" >
                      <option *ngFor="let data of Dutys" value="{{data.ID}}">{{data.DutyType_Name}}</option>
                      </select>           
                       
                </form>
                <div class="container  "style="width:500px">
                  <button *ngIf="searchButtonFlag" (click)="getOfficerCode()" type="button" class="btn btn-primary btn-md" style="margin-top:10px;float:left"><b>حصول على بيانات ضابط</b></button>
                  <button *ngIf="submitFlag" (click)="addShift()" type="button" class="btn btn-primary btn-md" style="margin-top:10px"><b>إضــــافــــــــــــة</b></button>
                </div>
            </div>
            </div>
          </div>
	</div>
</div>