
<!------ Include the above in your HEAD tag ---------->

<div class="container">    
  <a  (click)="closeThisComponent()" style="margin-top: 16px; font-size: 30px;" class="fa fa-times"></a>

  <div id="signupbox" style=" margin-top:50px" class="mainbox col ">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title"> إضافــــــــــــة  تــــــــخـــــصــــــص جـــــديـــــدة</div>
          </div>  
          <div class="panel-body" >
            
              <form method="post" action=".">
                
                  <div *ngIf="alertFlag" class="alert alert-danger" style="text-align: center; width: 500px" role="alert">
                      {{alertMessage}}
                    </div>                            

                  <form  class="form-horizontal" >
                      
        
                      <div id="div_id_username" class="form-group required">
                          <div class="controls col-md-8 ">
                              <input  [(ngModel)]="newSpetial.Specialization_Name" class="input-md  textinput textInput form-control" maxlength="30" name="username" placeholder="اسم التخصص" style="margin-bottom: 10px;text-align: center" type="text" />
                          </div>
                          <label for="id_username" class="control-label col-md-4  requiredField"> اســـــم التــــــــخـــــصـــــــص<span class="asteriskField">*</span> </label>

                      </div>
                  </form>

              </form>
              <div class="container  "style="margin-left:180px;padding:10px ">
                      <button  (click)="submitSpetial()" type="button" class="btn btn-primary btn-md"><b>إضافــــــــــــة</b></button>
                  </div>
          </div>
      </div>
  </div> 
</div>
  





