
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
      <div class="form_main">
            <div *ngIf="alertFlag" style="text-align: center"  class="alert alert-danger" role="alert">
                {{alertMessage}}
               </div>
                  <h4 class="heading"><strong>تعديل  </strong> كــــلـــمـــة الــــســـــر <span></span></h4>
                  <div class="form">
                      <form>
                          <div class="form-group">
                            <label for="username">اسم المستخدم</label>
                            <input readonly [(ngModel)]="LoggedUser.name" style="text-align: center" type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username" placeholder="اسم المستخدم">
                          </div>
                          <div class="form-group">
                              <label for="oldPassword">كلمة السر الحالية</label>
                              <input [(ngModel)]="currentPassword" type="password" class="form-control" style="text-align: center" id="oldPassword" placeholder="كلمة السر الحالية" name="currentPassword">
                            </div> 
                            <div class="form-group">
                                <label for="newPassword">كلمة السر الجديدة</label>
                                <input [(ngModel)]="newPassword"  type="password" class="form-control" style="text-align: center" id="newPassword" placeholder="كلمة السر الجديدة" name="newPassword">
                                <small id="emailHelp" class="form-text text-muted">كلمة السر لا تقل عن 8 حروف او ارقام</small>

                              </div> 
                              <div class="form-group">
                                  <label for="confirmPassword">تأكيد كلمة السر  </label>
                                  <input [(ngModel)]="confirmPassword" type="password" class="form-control" style="text-align: center" id="confirmPassword" placeholder="  تأكيد كلمة السر" name="oldPassword">
                                </div> 
                        </form>
                  <div class="container  "style="margin-left:180px;padding:10px ">
                    <button (click)="changePassword()" type="button" class="btn btn-primary btn-md"><b>تـــعديــــــل</b></button>
                  </div>
              </div>
              </div>
            </div>
    </div>
  </div>