
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
      <a  (click)="closeThisComponent()" style="margin-top: 16px; font-size: 30px;" class="fa fa-times"></a>
    <div class="col-md-4">
		<div class="form_main">
        <div style="text-align: center" *ngIf="alertFlag" class="alert alert-danger" role="alert">
            لا يمكن اجراء هذه العملية
           </div>
                <h4 class="heading"><strong>تفاصيـــــــــــل </strong> الـنــوبــتــجــيــة <span></span></h4>
                <div class="form">
                <form  id="contactFrm" name="contactFrm">
                    <input readonly [(ngModel)]="user.name" style="text-align:center;" type="text"  placeholder="اسم الظابط  " value="" name="name" class="txt">
                    <input readonly [(ngModel)]="cell_Number" style="text-align:center;" type="text" placeholder="رقم النبطشية   " value="" name="cell_Number" class="txt">    
                    <input readonly [(ngModel)]="dutyTypeName" style="text-align:center;" type="text"  placeholder="مكان النبطشية   " value="" name="dutyName" class="txt">    
                       
                </form>
                <div class="container  "style="margin-left:100px">
                  <button [disabled]="!isAdmin" (click)="cancelShift()" type="button" class="btn btn-primary btn-md"><b>إلغـــــــاء النـوبـتـجـيـة</b></button>
                </div>
            </div>
            </div>
          </div>
	</div>
</div>