

  <form>
    <div class="form-group">
      <input [(ngModel)]="SearchName" style="width: 280px ;float: left;"  type="text" name="name" [(ngModel)]="year" class="form-control" id="name" placeholder="ادخل اسم الضابط">
    </div>
  

  </form>
  <div   class="container  ">
    <button (click)="getUsers()" type="button" class="btn btn-primary"><b> بــــــحــــــث </b></button>
  </div>

  <div *ngIf="spinnerTable" class="container  col-lg-offset-6"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>

<table class="table">

    <tbody>
      <tr  *ngFor="let data of users">
          <td><button id="{{data.ID}}" (click)="backWithInfo($event)" class="btn btn-success">العودة بالبيانات</button></td>
        <td>{{data.name}}</td>
        <td>{{data.ID}}</td>
      </tr>
    </tbody>
    <thead>
        <tr>
            <th scope="col">العودة بالبيانات</th>
            <th scope="col">الاسم</th>
          <th scope="col">كود المستخدم</th>

        </tr>
      </thead>
  </table>